/* -------- Google fonts --------- */
/* baloo */
@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@400;500;600;700;800&display=swap');
/* jost */


@tailwind base;
@tailwind components;
@tailwind utilities;

 feature/login
body {
    overflow-y: hidden;
  }


body {
    background-color: #fff;
}
dev
